.datepicker__container {
    display: flex;
    align-items: center;
    .date {
        font-size: 41px;
        font-family: 'Simonetta';
    }
    #date-picker-dialog {
        display: none;
    }
    #date-picker-dialog-label {
        display: none;
    }
    .MuiInput-underline:before {
        display: none;
    }
}