.private__main__container {
    &.blur {
        filter: blur(2.5px);
    }
    .calendar__container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .inner__container {
            width: 1400px;
            .header {
                display: grid;
                grid-template-columns: repeat(7,1fr);
                justify-content: center;
                align-items: center;
                .span_container {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
            .body {
                display: grid;
                grid-template-columns: repeat(7, 1fr);
                grid-auto-rows: 160px;
            }
        }
    }
}